@use '../../../styles' as *;

.app-profile-photo {
  width: 230px;
  aspect-ratio: 1/1;
  height: auto;

  object-fit: cover;
  object-position: 50% 40%;
  display: block;

  --ring-size: 5px;

  border-radius: 50%;
  border: var(--ring-size) solid transparent;
  background:
    linear-gradient(transparent, transparent) padding-box,
    linear-gradient(
        to right top,
        #7c2174,
        #8a1365,
        #930255,
        #980043,
        #9a0332,
        #8e0632,
        #820a32,
        #760d31,
        #561436,
        #361630,
        #1c1321,
        #050505
      )
      border-box;
}
