<as-navbar></as-navbar>
<as-bottom-navbar></as-bottom-navbar>

<section id="profile" class="container">
  <div class="row p-4 animate__animated animate__backInDown">
    <div class="col-4 d-flex justify-content-center">
      <as-image-ring-profile
        profileImage="agatha.jpg"
        altImage="Foto de Agatha Sates"
      ></as-image-ring-profile>
    </div>

    <div class="col-8">
      <div class="justify-content-center">
        <div class="pt-1">
          <h2>
            {{ authorName }}
            <i class="bi bi-patch-check-fill text-primary fs-5 ps-2" aria-label="Verificado"></i>
          </h2>
        </div>
        <div class="pt-sm-3 d-flex flex-nowrap align-items-center gap-3 text-nowrap">
          <span>{{ tecnologyQuantity }} Tecnologias</span>
          <span>{{ certificatesQuantity }} Certificados</span>
        </div>
      </div>
      <div>
        <div class="pt-3 app-only-desktop">
          <as-profile-bio
            [bio]="bio"
            [linkEmail]="linkEmail"
            [linkLinkedin]="linkLinkedin"
          ></as-profile-bio>
        </div>
      </div>
    </div>
    <div class="pt-2 app-only-mobile">
      <as-profile-bio
        [bio]="bio"
        [linkEmail]="linkEmail"
        [linkLinkedin]="linkLinkedin"
      ></as-profile-bio>
    </div>
  </div>
</section>

<section id="highlights">
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-center flex-nowrap highlights-bar pb-3">
        @for (highlight of highlightsList; track $index) {
          <as-image-ring-highlights [highlight]="highlight"></as-image-ring-highlights>
        }
      </div>
    </div>
  </div>
  <hr />
</section>

<section id="projects">
  <div class="container text-center my-5 py-1 py-md-5 animate__animated animate__zoomIn">
    <h1 class="pt-3 pt-md-5 my-md-4">
      Venha conhecer meus projetos! <i class="bi bi-github px-2"></i>
    </h1>
    <i class="bi bi-chevron-compact-down fs-1"></i>
  </div>
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 g-2 py-3">
      @for (project of projects; track $index) {
        <div class="col" data-aos="fade-up" data-aos-duration="3000">
          <as-card
            [urlGifCard]="project.urlGifCard"
            [titleCard]="project.titleCard"
            [altCard]="project.altCard"
            [linkRepository]="project.linkRepository"
            [modalId]="'projectModal' + $index"
          ></as-card>
        </div>
      }
    </div>
  </div>
  <as-project-modal [projects]="projects"></as-project-modal>
</section>
